resources/
build/
lib/
.vs/
_deps/

*Config.h

*.obj
*.uscene

*.bmp
*.png
*.jpg
*.gif
*.mp4
*.pdf

*.html

*.rar
*.zip

*.doc
*.docx
*.ppt
*.pptx

*.filters
*.vcxproj
*.log
*.sln
*.user
*.dll
*.lib
*.exe
*.ilk
*.pdb
