resources/
build/
vs_build/
lib/
.vs/
.vscode/
bin/
_deps/

*.obj
*.uscene

*.bmp
*.png
*.jpg
*.gif
*.mp4
*.pdf

*.html

*.rar
*.zip

*.doc
*.docx
*.ppt
*.pptx

*.filters
*.vcxproj
*.log
*.sln
*.user
*.dll
*.lib
*.exe
*.ilk
*.pdb
